*.opensdf
*.sdf
*.suo
*.user
*.o
*.swp
*.log
.vs
/bin/*.exe
/bin/*.cfg
/bin/*.json
/bin/*.txt
/bin/RA_Integration.dll
/bin/Assets
/bin/Cores/*libretro.json
/bin/Cores/*.dll
/bin/Cores/index.txt
/bin/RACache
/bin/Release
/bin/Saves
/bin/Screenshots
/bin/System
/RALibretro*.zip
/obj
/Debug
/Release
/ipch
/src/Git.cpp
/src/menu.res
/src/log.txt
/*.db
/RetroAchievementsKey
