[submodule "src/RA_Integration"]
	path = src/RA_Integration
	url = https://github.com/RetroAchievements/RAIntegration.git
[submodule "src/SDL2"]
	path = src/SDL2
	url = https://github.com/RetroAchievements/SDL2
[submodule "src/jsonsax"]
	path = src/jsonsax
	url = https://github.com/leiradel/jsonsax
[submodule "src/miniz"]
	path = src/miniz
	url = https://github.com/richgel999/miniz.git
